@font-face {
    font-family: myFirstFont;
    src: url('@fonts/orbitron/static/Orbitron-Bold.ttf');
}

@font-face {
    font-family: fontMatrix;
    src: url('@fonts/matrixfont/Matrix-MZ4P.ttf');
}

@font-face {
    font-family: fontAntiMatrix;
    src: url('@fonts/antimatrixfont/Antimatrix-BWBVw.ttf');
}