@if(!aryUrlErrors.includes(currentUrl) && !aryUrlAuths.includes(currentUrl)) {
  @if(currentUrl.match(/(admin)/gi)) {
    @if(!hideSidebar) {
      <div class="bkgcurtain"></div>
    }

    <app-header-admin [hideNavbar]="hideNavbar" />
    <app-sidebar-admin [hideSidebar]="hideSidebar" />

    <button type="button" class="btn btn-primary btnshoworhideside btnrounded" (click)="toggleSidebar()">
      <i [class]="'bi bi-' + (!hideSidebar ? 'x' : 'list')"></i>
    </button>
  } @else {
    <app-header />
  }
}

<!-- <router-outlet /> -->

@if (currentUrl) {
  @if (currentUrl.includes("/admin")) {
    @if (currentUrl.includes("/admin/settings")) {
      <app-admsettings [hideSidebar]="hideSidebar" />
    } @else if (currentUrl.includes("/admin/data")) {
      <app-admdata [hideSidebar]="hideSidebar" />
     } @else if (currentUrl.includes("/admin/support")) {
      <app-admsupport [hideSidebar]="hideSidebar" />
    } @else {
      <app-admin [hideSidebar]="hideSidebar" />
    }
  } @else if (currentUrl.includes('/user')) {
    @if (currentUrl.includes("/user/settings")) {
      <app-settings />
    } @else {
      <app-user />
    }
  } @else if (currentUrl.includes('/auth')) {
    <app-auth />
  } @else {
    <router-outlet />
  }
} @else {
  <router-outlet />
}


@if(aryUrlAuths.includes(currentUrl)) {
  <app-footersticky />
} @else {
  <app-footer />
}
