/* You can add global styles to this file, and also import other style files */
@use 'bootstrap/scss/bootstrap';
@use 'bootstrap-icons/font/bootstrap-icons.css';
@use 'fonts/fonts.scss';
@use 'mystyles/all.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    line-height: 1.6;
    padding: 0;
    background: linear-gradient(#FB00FF 0%, #048EFF 50%, #000000 100%), url('/assets/images/bkgMain.svg') no-repeat center center fixed;
    background-blend-mode: multiply;
    background-attachment: fixed;
    padding-bottom: 10rem;
}

.active {
    color: yellow;
    font-weight: bold;
    text-decoration: underline;
}

.header, .footer {
    font-family: myFirstFont;
}

.container {
    padding-bottom: 7rem;
}

.cnt {
    padding-bottom: 10rem;
}

.section {
    display: block;
    width: auto;
    max-width: 100%;

    &.sectionhome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        margin: 20px;

        .title {
            font-size: clamp(1.5rem, 3vw, 2rem);
            text-align: center;
        }

        .desc {
            font-size: clamp(1rem, 2vw, 1rem);
            text-align: justify;
            margin-top: 5px;
            line-height: 1.5rem;
        }

        .btnreadmore {
            padding: 15px;
            border-radius: 15px;
            background: linear-gradient(#FF00FF 50%,#048EFF 100%);
        }
    }
}

.card {
    border-radius: calc(16px + 8px);

    .img-fluid {
        border-radius: inherit;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .card-title {
        font-weight: bold;
        font-size: clamp(1.5rem, 2vw, 2rem);
    }

    .card-text {
        text-align: justify;
        line-height: 2rem;
    }
}

.btn {
    &.btnrounded {
        border-radius: calc(16px + 4px);
    }
}

.hidden {
    display: none;
}

.disabled {
    cursor: not-allowed !important;
    background-color: silver !important;
}

.textlong {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    text-overflow: ellipsis;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    word-break: break-all;

    &:hover {
        text-overflow: clip;
        white-space: normal;
        -webkit-animation-name: myfadeIn;
        animation-name: myfadeIn;
    }

    // &:not(:hover) {
    //     -webkit-animation-name: myfadeOut;
    //     animation-name: myfadeOut;
    // }
}

.btnshoworhideside {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.admin {
    display: block;
    background-color: white;
    color: black;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;

    &.sidebarhidden {
        padding: 6rem 0rem !important;
    }
}

.btn {
    &.btnt {
        background: transparent !important;
        border-color: transparent !important;
        padding: inherit !important;
    }
}

.modal {
    .modal-body {
        text-align: justify;
        line-height: 2rem;
    }
}

.toast, #liveToast {
    display: inherit;
}


.form-group {
    label:not(.lblrememberme):not(.lblacptterms) {
        font-size: clamp(1rem, 2vw, 1.2rem);
    }
}

.bkgcurtain {
    position: fixed;
    z-index: 1;
    background-color: rgb(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.chat {
  display: flex;
  flex-direction: column;
  background: #343541;
  color: white;
  border-radius: calc(16px + 8px);
  margin-top: 1rem;
  margin-bottom: calc(1rem + 1rem);
}

.chat-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background: inherit;
  height: calc(100vh / 1.5);
  max-height: 100vh;
  border-radius: calc(16px + 8px);
}

.chatclosedcurtain {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px) !important;
  z-index: 0;
  border-radius: calc(16px + 8px);
}

.mchatclosedmsg {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  max-width: 100%;
  padding: 12px;
  border-radius: 12px;
  margin-top: 10px;
  margin-bottom: 10px;

  .chatclosed {
    $talign: center;
    text-align: $talign;

    .chatclosedicon {
      font-size: clamp(3rem, 3.5vw, 4rem);
      text-align: $talign;
    }

    .chatclosedtitle {
      font-size: clamp(1rem, 1.5vw, 2rem);
      margin: 15px auto;
      text-align: $talign;
    }

    .chatclosedmsg {
      text-align: justify;
      line-height: 2rem;
      margin: 15px auto;
      text-align: $talign;
    }
  }
}

.closedchat {
  $blur: 10px;

  .assistant, .user, .system {
    filter: blur($blur);
  }

  .input-container {
    z-index: -1;
    filter: blur($blur);
  }

  .warnfooter {
    filter: blur($blur);
  }
}

.fmessage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  max-height: 100vh;
  max-width: 100%;
}

.message_content {
  overflow: auto;
  max-height: 30vh;
}

.mcolorblk {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.colorblk {
  width: 20px;
  height: 20px;
  border-radius: calc(16px + 8px);
}

.warnfooter {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: auto;
  max-width: 100%;
  padding: 15px;
}

.titlewelcome, .welcometitle,
.titlerules, .rulestitle {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  box-sizing: border-box;
  text-align: center;
  margin: 15px auto;
}

.txtwelcome, .welcometxt,
.txtrules, .rulestxt {
    display: block;
}

@media all and (min-width: 1200px) {
    .admin { 
        padding: 6rem calc(12rem + 1rem);
    }
}