.theme-ocean {
    $bkgcolorprimary: #017b92;
    $colorprimary: white;
    $colorsecondary: black;

    background-color: $bkgcolorprimary;
    color: $colorprimary;

    .section {
        color: $colorsecondary !important;
    }
}